@model IEnumerable<Product>

    <table>
        <thead>
            <tr>
                <th>
                @Html.DisplayNameFor(m=>m.ProductName)
                 </th>
            <th>
                @Html.DisplayNameFor(m=>m.Category)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.CostPrice)
            </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem=>item.ProductName)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.CostPrice)
                </td>
                </tr>
            }
        </tbody>
    </table>